input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

input[type=submit] {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

input[type=submit]:hover {
    background-color: #45a049
}

#footer {
    display: none;
}

.center {
    text-align: center;
}

a.button7 {
    display: inline-block;
    padding: .7em 1.7em;
    margin: 0 .3em .3em 0;
    border-radius: .2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #3369ff;
    box-shadow: inset 0 -.6em 1em -.35em rgba(0, 0, 0, .17), inset 0 .6em 2em -.3em rgba(255, 255, 255, .15), inset 0 0 0 .05em rgba(255, 255, 255, .12);
    text-align: center;
    position: relative
}

a.button7:active {
    box-shadow: inset 0 .6em 2em -.3em rgba(0, 0, 0, .15), inset 0 0 0 .05em rgba(255, 255, 255, .12)
}

@media all and (max-width:30em) {
    a.button7 {
        display: block;
        margin: .4em auto
    }
}
